<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-d-user-heading" jhiTranslate="cemeteryApp.dUser.home.createOrEditLabel">Create or edit a D User</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.dUser.uForeName" for="field_uForeName">U Fore Name</label>
                    <input type="text" class="form-control" name="uForeName" id="field_uForeName"
                           formControlName="uForeName"/>
                    <div *ngIf="editForm.get('uForeName')!.invalid && (editForm.get('uForeName')!.dirty || editForm.get('uForeName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uForeName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.dUser.uSorName" for="field_uSorName">U Sor Name</label>
                    <input type="text" class="form-control" name="uSorName" id="field_uSorName"
                           formControlName="uSorName"/>
                    <div *ngIf="editForm.get('uSorName')!.invalid && (editForm.get('uSorName')!.dirty || editForm.get('uSorName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uSorName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.dUser.uPhone" for="field_uPhone">U Phone</label>
                    <input type="text" class="form-control" name="uPhone" id="field_uPhone"
                           formControlName="uPhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.dUser.uEmail" for="field_uEmail">U Email</label>
                    <input type="text" class="form-control" name="uEmail" id="field_uEmail"
                           formControlName="uEmail"/>
                    <div *ngIf="editForm.get('uEmail')!.invalid && (editForm.get('uEmail')!.dirty || editForm.get('uEmail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uEmail')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
