<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dUser">
            <h2><span jhiTranslate="cemeteryApp.dUser.detail.title">D User</span> {{ dUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cemeteryApp.dUser.uForeName">U Fore Name</span></dt>
                <dd>
                    <span>{{ dUser.uForeName }}</span>
                </dd>
                <dt><span jhiTranslate="cemeteryApp.dUser.uSorName">U Sor Name</span></dt>
                <dd>
                    <span>{{ dUser.uSorName }}</span>
                </dd>
                <dt><span jhiTranslate="cemeteryApp.dUser.uPhone">U Phone</span></dt>
                <dd>
                    <span>{{ dUser.uPhone }}</span>
                </dd>
                <dt><span jhiTranslate="cemeteryApp.dUser.uEmail">U Email</span></dt>
                <dd>
                    <span>{{ dUser.uEmail }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/d-user', dUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
