<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-media-heading" jhiTranslate="cemeteryApp.media.home.createOrEditLabel">Create or edit a Media</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.media.mType" for="field_mType" [ngbTooltip]="'cemeteryApp.media.help.mType' | translate">M Type</label>
                    <select class="form-control" name="mType" formControlName="mType" id="field_mType">
                        <option value="PIC">{{ 'cemeteryApp.MediaType.PIC' | translate }}</option>
                        <option value="VIDEO">{{ 'cemeteryApp.MediaType.VIDEO' | translate }}</option>
                        <option value="SOUND">{{ 'cemeteryApp.MediaType.SOUND' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('mType')!.invalid && (editForm.get('mType')!.dirty || editForm.get('mType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.media.mDescription" for="field_mDescription">M Description</label>
                    <input type="text" class="form-control" name="mDescription" id="field_mDescription"
                           formControlName="mDescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.media.mDate" for="field_mDate">M Date</label>
                    <div class="input-group">
                        <input id="field_mDate" type="text" class="form-control" name="mDate" ngbDatepicker #mDateDp="ngbDatepicker" formControlName="mDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="mDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.media.mLink" for="field_mLink">M Link</label>
                    <input type="text" class="form-control" name="mLink" id="field_mLink"
                           formControlName="mLink"/>
                    <div *ngIf="editForm.get('mLink')!.invalid && (editForm.get('mLink')!.dirty || editForm.get('mLink')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mLink')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.media.mNotActive" for="field_mNotActive">M Not Active</label>
                    <input type="checkbox" class="form-control" name="mNotActive" id="field_mNotActive"
                           formControlName="mNotActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cemeteryApp.media.desist" for="field_desist">Desist</label>
                    <select class="form-control" id="field_desist" name="desist" formControlName="desist">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="desistOption.id === editForm.get('desist')!.value?.id ? editForm.get('desist')!.value : desistOption" *ngFor="let desistOption of desists; trackBy: trackById">{{ desistOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
