<div>
    <h2 id="page-heading">
        <span jhiTranslate="cemeteryApp.gestBook.home.title">Gest Books</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gest-book" [routerLink]="['/gest-book/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="cemeteryApp.gestBook.home.createLabel">
            Create a new Gest Book
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gestBooks?.length === 0">
        <span jhiTranslate="cemeteryApp.gestBook.home.notFound">No gestBooks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gestBooks && gestBooks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bName"><span jhiTranslate="cemeteryApp.gestBook.bName">B Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bEmail"><span jhiTranslate="cemeteryApp.gestBook.bEmail">B Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bPhone"><span jhiTranslate="cemeteryApp.gestBook.bPhone">B Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bContent"><span jhiTranslate="cemeteryApp.gestBook.bContent">B Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bNotActive"><span jhiTranslate="cemeteryApp.gestBook.bNotActive">B Not Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="desist.id"><span jhiTranslate="cemeteryApp.gestBook.desist">Desist</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let gestBook of gestBooks ;trackBy: trackId">
                    <td><a [routerLink]="['/gest-book', gestBook.id, 'view']">{{ gestBook.id }}</a></td>
                    <td>{{ gestBook.bName }}</td>
                    <td>{{ gestBook.bEmail }}</td>
                    <td>{{ gestBook.bPhone }}</td>
                    <td>{{ gestBook.bContent }}</td>
                    <td>{{ gestBook.bNotActive }}</td>
                    <td>
                        <div *ngIf="gestBook.desist">
                            <a [routerLink]="['/desist', gestBook.desist?.id, 'view']" >{{ gestBook.desist?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/gest-book', gestBook.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/gest-book', gestBook.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gestBook)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
